.mySwiper {
  position: relative;
  height: 360px !important;
}

.swiper-wrapper {
  position: absolute;
}

.swiper-button-next,
.swiper-button-prev {
  padding: 12px 20px;
  background: rgb(255 255 255 / 50%);

  height: unset;
}

.swiper-button-next {
  right: 0;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.swiper-button-prev {
  left: 0;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.swiper-pagination-bullet-active {
  background: rgb(255 255 255 / 80%);
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 16px;
  font-weight: 700;
  color: white;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
